.form-input {
  display: block;
  width: 100%;
  background-color: $col-dark-gray;
  color: $col-light-gray;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

.form-input-checkbox {
  cursor: pointer;
  display: block;
  height: 20px;

  input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  span {
    padding-left: 2px;
    vertical-align: top;
  }

  .fake-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: $col-dark-gray;
    border-radius: 5px;
    text-align: center;

    .el {
      color: $col-light-blue;
      position: relative;
      top: 2px;
    }
  }

  &:hover {
    .fake-checkbox {
      background-color: lighten($col-dark-gray, 2%);
    }
  }
}

.form-submit-btn {
  display: block;
  width: 100%;
  background-color: $col-blue;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  color: #D5D5D5;
  font-weight: bold;
  margin-top: 15px;

  &:hover {
    background-color: darken($col-blue, 5%);
  }
}