@import "normalize.scss/normalize";

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  background-color: $col-black;
  color: $col-black;
  font-family: "Open Sans", sans-serif;
}

a, a:visited {
  cursor: pointer;
  color: $col-blue;
}