// Colors
$col-white: #FAFAFA;
$col-light-blue: #07A0C3;
$col-blue: #056f95;
$col-red: #D83E3E;
$col-light-gray: #DDDDDD;
$col-gray: #BDBDBD;
$col-dark-gray: #333333;
$col-black: #272727;

// Standard padding
$padding: 15px;