.signup-container {
  @extend .modal-container;
  max-width: 330px;

  .footer-links {
    text-align: center;
    margin-bottom: 0;

    a {
      display: block;
      margin-bottom: 5px;
    }
  }
}