.container {
  padding: 0 15px;
}

.modal-container {
  margin: 50px auto 0;
  padding: 15px;
  background-color: lighten($col-dark-gray, 7%);
  border-radius: 5px;
}

.modal-sm {
  max-width: 330px;
}